</div>
</main>

<script type="text/javascript" src="<%= base_path %>js/highlight.pack.js"></script>
<script type="text/javascript" src="<%= base_path %>js/showdown.min.js"></script>
<script type="text/javascript" src="<%= base_path %>js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="<%= base_path %>js/mermaid.min.js"></script>
<script type="text/javascript" src="<%= base_path %>js/popper.min.js"></script>
<script type="text/javascript" src="<%= base_path %>js/bootstrap.min.js"></script>
<script type="text/javascript" src="<%= base_path %>js/mdb.min.js"></script>

<script type="text/javascript" src="<%= base_path %>js/script.js"></script>

<script type="text/javascript">
    new WOW().init();
</script>

<script type="text/javascript">

    jQuery(() => {
        if ('undefined' !== typeof ego_on_loaded) {
            ego_on_loaded();
        }
    });

</script>

</body>

</html>